@import './variables';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
.purchase {
    position: relative;
    z-index: 1;
    padding: 120px 24px;
    background: linear-gradient(90deg, rgba(171,26,29,1) 12%, rgba(233,141,144,1) 34%, rgba(229,125,82,1) 53%, rgba(238,204,32,1) 100%);
    @media(min-width: 1200px) {
        padding: 120px 0;
    }
    .container {
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        width: 100%;
        max-width: 900px;
        .ticket-card {
            margin: 0 auto;
            &:nth-child(n+1) {
                margin-top: 48px;
            }
        }
        @media(min-width: 1200px) {
            flex-direction: row; 
            .ticket-card {
                margin: 0;
                &:nth-child(n+1) {
                    margin-top: 0;
                }
            }
        }
    }
}

.details {
    padding: 120px 24px;
    .info-sex {
        &:nth-child(n+2) {
            margin-top: 80px;
        }
    }
}