.footer-container {
    height: 70px;
    background-color: rgb(54, 54, 54);
    text-align: center;
    width: 100%;
}
.footer-container p {
    top: 50%;
    color: white;
    font-family: "baron_regular";
    font-size: 20px;
    padding-top: 25px;
}