.ticket-card {
	position: relative;
	background: #000; 
	color: #fff;
	border-radius: 12px; 
	text-align: center;
	padding: 56px 24px 42px 24px; 
	width: 80%;
	background-clip: padding-box;
	border: solid 5px transparent;
	box-sizing: border-box;
	@media(min-width: 1200px) {
		width: 300px;
	}
	&:before {
		content: '';
		border-radius: inherit;
		position: absolute; 
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: -5px;
		background: linear-gradient(to right, red, orange, yellow); 
		z-index: -1;
	}

	h3 {
		font-family: 'frontageoutline';
		text-transform: uppercase;
		font-size: 56px; 
	}
	.sub-text {
		font-weight: 700;
		margin-top: 24px;
		font-family: 24px; 
		font-style: italic; 
		letter-spacing: 1px;
	}
	.price {
		color: rgba(225,61,48);
		margin-top: 32px;
		font-size: 42px; 
		letter-spacing: 2px;
		font-family: 'baron_regular'
	}
	.purchase-btn {
		margin: 48px auto 0 auto;
		display: block; 
		position: relative;
		z-index: 100;
		text-decoration: none;
		background: #BDD635; 
		font-family: 'baron_regular';
		padding: 16px; 
		text-align: center;
		width: 100%;
		max-width: 180px;
		letter-spacing: 2px;
	}
}