.navigation{
    position: relative;
    width: 100%;
    height: 110px;
}

.navigation, .navigation ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    height: 110px;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    background: transparent;
    @media (min-width: 768px){
        max-width: 85%;
        flex-direction: row;
    }
}
.navigation ul li{
    list-style: none;
    padding-right: 0px;
    font-family: 'baron_regular';
    @media (min-width: 1200px){
        &:nth-child(n+1) {
            padding-right: 10px;
        }
    }
}
.navigation ul li a {
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      color: black;
    }
}
.hamburger{
    position: absolute;
    left: 12px;
    display: none;
    z-index: 6;
    &:hover {
        cursor: pointer;
    }
}
.social-icons a {
    display: inline-block;
}
.social-icons img {
    height: 28px;
    padding: 0 10px;
}
@media (max-width: 767px){
    .hamburger{
        display: flex;
        padding-top: 10px;
        margin-left: 0px;
        z-index: 6;
        position: absolute;
        top: 10px
    }
    .navigation {
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        height: 100vh;
        width: 100%;
        // z-index: 100;
    }
    .navigation ul {
        font-size: 24px;
        background-color: #ed6e3b;
        padding: 20% 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
        max-width: 100%;
        text-align: center;
        line-height: 30px;
        margin-top: 0px;
        position: relative;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        display: block;
    }
    .navigation ul li:nth-child(n+1) {
        margin-top: 0;
        @media (min-width: 1200px){
            margin-top: 24px;
        }
    }

}

