@import '../../styles/variables';

.masthead {
    background: url('../../assets/images/concert-background.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    padding: 120px 60px 113px 60px;
    .logo {
        margin: 0 auto;
        text-align: center;
        width: 100%;
        img {
            width: 100%;
            @media(min-width: 1200px) {
                width: 1000px;
            }
        }
    }
    .title {
        font-family: 'baron_regular';
        letter-spacing: 4px;
        color: white; 
        text-shadow: 1px 4px 16px rgba(255,25,38,0.7);
        font-weight: 600;
        text-align: center;
        // responsive styles
        margin: 16px 0 auto;
        font-size: 32px;
        line-height: 42px; 
        @media(min-width: 768px) {
            margin: 42px 0 auto;
            font-size: 52px;
            line-height: 62px;
        }
    }
}